*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: "Lobster", cursive;
  font-size: 16px;
}
body {
  background-color: #6d8b54;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
  height: auto;
}
:root {
  --color-primary-btn: #e7e7e7;
  --color-primary-btn-hover: #c5c5c5;
  --color-secondary-btn: #777777;
  --color-secondary-btn-hover: #616161;
}

/*
================================
 Content
================================
*/

/* General elements */

/* Button */
.btn {
  background-color: var(--color-primary-btn);
  border: 2px solid black;
}
.btn:hover {
  background-color: var(--color-primary-btn-hover);
}
.btn--active {
  background-color: var(--color-secondary-btn);
}
.btn--active:hover {
  background-color: var(--color-secondary-btn-hover);
}
/* Nav */
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
  font-size: 1rem;
}
.nav__btn {
  width: 30%;
  padding: 12px;
  font-size: 1.2em;
}

@media only screen and (min-width: 499px) {
  .nav {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    display: inline-flex;
    flex-direction: column;
    float: right;
    width: 20%;
    margin-top: 10%;
  }
  .nav__btn {
    width: 100%;
  }
  .nav__input {
    width: 50%;
  }
}

/* Class modifiers */
.hidden {
  visibility: hidden;
  opacity: 0;
}

/* 
 * Main 
 *
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  overflow: auto;
  font-size: 1rem;
}
.main__header {
  width: 100%;
  margin: 12px;
  font-size: 3em;
}

@media only screen and (min-width: 499px) {
  .main__header {
    font-size: 4em;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  .main__header {
    margin: 12px auto;
    font-size: 6em;
  }
}

/* 
 *
 * Nav Hands
 *
 *
 */

.nav--hands .nav__btn {
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .nav--hands .nav__btn {
    margin: 2px auto;
  }
}

/* 
 *
 * Game
 *
 *
 */

.game {
  width: 100%;
  margin-top: 24px;
  font-size: 1rem;
}
.container--players {
  display: flex;
  justify-content: center;
  font-size: 1em;
}
.game__label {
  display: block;
  width: 90%;
  padding: 5px;
  margin: 12px auto;
  font-weight: 700;
  text-align: center;
  background-color: white;
}

@media only screen and (min-width: 499px) {
  .container--players {
    font-size: 1.5em;
  }
  .game__label {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 768px) {
  .container--players {
    align-items: center;
    float: left;
    width: 50%;
  }
  .game__label {
    float: left;
    width: 50%;
    margin-left: 12px;
  }
}

/* 
 *
 *
 * Player
 *
 */

.player__name {
  display: block;
  margin: 0 auto;
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
}
.player__name--0 {
  color: red;
}
.player__name--1 {
  color: #00f;
}
.player__score {
  display: block;
  margin: 10px auto;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}
.player__hand {
  display: block;
  width: 75%;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .player__hand {
    width: 90%;
  }
}

/* 
 *
 * Nav Options
 *
 *
 */

.nav--options .nav__btn {
  min-width: 150px;
  max-height: 80px;
  margin: 2px auto;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .nav--options {
    margin: 7.5% 15px;
  }
}

/* 
 *
 * Footer
 *
 *
 */

.footer {
  margin-top: 22px;
  width: 100%;
  font-size: 1em;
  text-align: center;
}
.footer__link {
  padding: 12px;
  font-size: 1em;
  text-decoration: none;
  color: #333;
}
.footer__link:hover {
  text-decoration: underline;
  color: rgb(160, 160, 160);
}

@media only screen and (min-width: 499px) {
  .footer {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    float: right;
    width: 40%;
  }
  .footer__link {
    margin-top: 1rem;
    text-align: center;
  }
}

/* 
 * Modal
 *
 *
 *
 */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.6);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 80%;
  padding: 16px;
  font-size: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 48px 80px rgba(0, 0, 0, 0.9);
  transition: all 700ms;
  transform: translate(-50%, -50%);
}
.modal p {
  display: inline-block;
  min-width: 15rem;
  line-height: 1.2;
  text-align: center;
}
.modal ul {
  width: 50%;
  margin: 5px auto;
  line-height: 1.3;
  font-size: 1.1em;
  list-style: square;
}
.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.modal__item {
  padding: 5px;
  text-align: center;
}
.modal__header {
  margin: 12px auto;
  font-size: 1.2em;
}
.modal__label {
  width: 3rem;
}
.modal__btn {
  padding: 12px;
  font-size: 1.2em;
  border: 2px solid black;
}
.modal__input {
  padding: 5px;
  font-size: 1em;
  text-align: center;
  background-color: var(--color-primary-btn);
  border: 2px solid black;
}
.btn--close-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  font-size: 4em;
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
}

@media only screen and (min-width: 499px) {
  .modal ul {
    width: 40%;
  }
  .modal__container {
    font-size: 1.3em;
  }
  .modal__header {
    min-width: 15rem;
  }
}
@media only screen and (min-width: 860px) {
  .modal {
    width: 90%;
    height: 20rem;
  }
  .modal ul {
    width: 90%;
  }
  .modal__container {
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    padding: 12px;
    margin-top: 1rem;
    font-size: 1.4em;
  }
  .modal__item--modes {
    align-self: center;
    padding-bottom: 5rem;
  }
}
