/* Universal styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;
}
body {
  background-color: #6d8b54;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
  height: auto;
}
:root {
  --main-btn-background-color: #e4e2e2;
  --fore-btn-background-color: #5a5a5a;
}
/* Content */

/* Main */
#main {
  width: 100%;
  padding: 5px 0;
}
#title {
  font-size: 3rem;
  margin: 12px;
}
#game--label {
  max-width: 220px;
  text-align: center;
  margin: 0 auto;
}
#btn--throw,
#btn--reset {
  display: block;
  margin: 2px auto;
  font-weight: 700;
}

/* Button selection */
#btn-selection {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.btn {
  width: 30%;
  padding: 12px;
  border: 2px solid #000;
  font-size: 1.2rem;
  background-color: var(--main-btn-background-color);
}
.btn:hover {
  --main-btn-background-color: #cfcdcd;
  background-color: var(--main-btn-background-color);
}
.btn--active {
  background-color: var(--fore-btn-background-color);
}
.btn--active:hover {
  --fore-btn-background-color: #4e4e4e;
  background-color: var(--fore-btn-background-color);
}

/* Game section */
#game-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}
.player__name {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}
.player__hand {
  width: 75%;
  margin: 24px;
}
#hand--0 {
  float: left;
}
#hand--1 {
  float: right;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
